venv_tf/
.nuxt/
.vscode/
frontend/
backend/
*.jpg
*.png
history.txt
package.json
predict.py
train.py
test_train.py
split_by_filename.py
split_train_to_val.py
classes.txt
general_classes.txt
best.keras
bin4_best.keras
general_model.keras